---
import { Image } from 'astro:assets';
import codeIcon from '../assets/images/links/code.svg';
import Layout from '../layouts/layout.astro';
import About from '../components/about.astro';
import ProjectCard from '../components/project-card.astro';
import SkillItem from '../components/skill-item.astro';
import ContactForm from '../components/contact-form.astro';
import data from '../data/index.js';

const { projects, skills } = data;
---

<Layout title="Ryan Brockhoff - Full Stack Developer">
  <!-- Home Section -->
  <section id="home" class="section">
    <div class="home-content">
      <div class="container">
        <div class="home-inner-content">
          <h1>Ryan Brockhoff</h1>

          <p class="subtitle">Full Stack Developer</p>

          <a href="#projects" class="button">View My Work</a>
        </div>
      </div>
    </div>
  </section>

  <About />

  <!-- Skills Section -->
  <section id="skills" class="section">
    <div class="container">
      <div class="skills-grid">
        {
          skills.map((skill) => (
            <SkillItem name={skill.name} iconSrc={skill.iconSrc} altText={skill.altText} />
          ))
        }
      </div>
    </div>
  </section>

  <!-- Projects Section -->
  <section id="projects" class="section background-alt">
    <div class="container">
      <h2 class="section-title with-icon">
        <Image src={codeIcon} alt="LinkedIn Icon" />My Projects
      </h2>
      <div class="projects-container">
        {
          projects.map((project) => (
            <ProjectCard
              title={project.title}
              description={project.description}
              highlights={project.highlights}
              imageSrc={project.imageSrc}
              tags={project.tags}
              demoLink={project.demoLink}
              githubLink={project.githubLink}
              deviceImageSrc={project.deviceImaegSrc}
              isWeb={project.isWeb}
            />
          ))
        }
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section id="contact" class="section">
    <div class="container">
      <h2 class="section-title">Get In Touch</h2>
      <div class="contact-container">
        <ContactForm />
      </div>
    </div>
  </section>
</Layout>

<style>
  /* Home Section */
  .home-content {
    display: flex;
    background-color: var(--primary-200);
    /* background-image: url('../assets/images/topo.png');
    background-repeat: none;
    background-blend-mode: color-burn; */
    width: 100%;
    height: 60vh;
    color: white;
    margin-top: var(--nav-height);
  }

  .home-inner-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    align-items: flex-start;
  }

  h1 {
    font-size: 3.5rem;
    margin-bottom: 0.25rem;
  }

  .subtitle {
    font-size: 1.8rem;
    color: white;
    margin-bottom: var(--space-xl);
  }

  /* Projects Section */
  .section-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: var(--space-xl);
    justify-content: center;
  }

  /* .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: var(--space-xl);
  } */

  .background-pattern {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('path-to-topographic-pattern.svg');
    background-size: cover;
    opacity: 0.05;
    z-index: -1;
  }

  /* Projects Section */
  .section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: var(--space-xl);
  }

  /* Skills Section */

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 2rem;
  }

  /* Contact Section */
  .contact-container {
    max-width: 600px;
    margin: 0 auto;
  }
</style>
