---
import Section from '@components/global/section.astro';
import ProjectCard from '@components/home/project-card.astro';
import { projects } from '@data/projects.js';
import CodeIcon from '@images/icons/code.svg';
---

<Section id="projects" className="background-alt">
  <h2 class="flex-center with-icon">
    <CodeIcon aria-hidden="true" />My Projects
  </h2>
  <div class="projects-container">
    {
      projects.map((project) => (
        <ProjectCard
          title={project.title}
          description={project.description}
          highlights={project.highlights}
          imageSrc={project.imageSrc}
          tags={project.tags}
          demoLink={project.demoLink}
          githubLink={project.githubLink}
          deviceImageSrc={project.deviceImageSrc}
          isWeb={project.isWeb}
        />
      ))
    }
  </div>
</Section>
