---
export interface Props {
  title: string;
  description: string;
  imageSrc: string;
  tags: string[];
  demoLink: string;
  githubLink: string;
  deviceSrc: string;
  deviceStyle: string;
}

const { title, description, imageSrc, tags, demoLink, githubLink, deviceSrc, deviceStyle } =
  Astro.props;
---

<div class="project-card">
  <div class="project-panel">
    <div class="project-header">
      <div class="project-tab">
        <h3 class="text-dark">{title}</h3>
      </div>

      <div class="project-links">
        {
          demoLink && (
            <a
              href={demoLink}
              class="project-link button"
              target="_blank"
              rel="noopener noreferrer"
            >
              Live Site
            </a>
          )
        }

        <a href={githubLink} class="project-link button" target="_blank" rel="noopener noreferrer"
          >GitHub</a
        >
      </div>
    </div>

    <div class="project-info">
      <p>{description}</p>
      <div class="project-tags">
        {tags.map((tag) => <span class="project-tag">{tag}</span>)}
      </div>
    </div>
  </div>
  <div class="project-panel">
    <p>Right panel</p>
    <div class="project-image">
      <img src={imageSrc} alt={title} loading="lazy" />
    </div>
  </div>
</div>

<style>
  .project-panel {
    width: 50%;
  }

  .project-header {
    display: flex;
  }

  .project-card {
    background-color: white;
    color: black;
    border-radius: var(--border-radius);
    overflow: hidden;
    position: relative;
    display: flex;
    margin: 5rem 0;
  }

  .project-card:hover {
  }

  .project-tab {
    background-color: var(--light-gray);
    width: 250px;
    height: 4rem;
    border-bottom-right-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
  }

  .project-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }

  .project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform var(--transition-speed) ease;
  }

  .project-card:hover .project-image img {
    transform: scale(1.05);
  }

  .project-info {
    padding: var(--space-xl);
  }

  .project-info h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .project-info p {
    color: black;
    margin-bottom: var(--space-md);
  }

  .project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: var(--space-md);
  }

  .project-tag {
    border: 2px solid var(--primary-300);
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    font-size: 0.8rem;
  }

  .project-links {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
</style>
